@import 'reset.css';
@import 'setup.css';

:root {
	--neutral-0: 		#FFFFFF;
	--neutral-20:		#FAFAFA;
	--neutral-30:		#F7F7F7;
	--neutral-50:		#F2F2F2;
	--neutral-100:		#E5E5E5;
	--neutral-200: 	#CCCCCC;
	--neutral-300: 	#B2B2B2;
	--neutral-400: 	#999999;
	--neutral-500:		#808080;
	--neutral-600:		#666666;
	--neutral-700:		#4D4D4D;
	--neutral-800:		#333333;
	--neutral-900:		#1A1A1A;
	--neutral-1000:	#000000;

	--ink: var(--neutral-1000);

	--light-red: #F7E9E9;
	--red: #E07070;
	--light-green: #EDF7E9;
	--green: #CDF2C5;

	--border-color: var(--neutral-500);
	--border-disabled-color: var(--neutral-200);

	--bg-color: var(--neutral-0);
	--inner-column: 1600px;
	--inner-column-padding: 12px;
	--form-width: 450px;

	--mono: "Roboto Mono", monospace;
}

body {
	background-color: var(--bg-color);
}


inner-column {
	padding-inline: var(--inner-column-padding);
}

header {
	top-part {

		margin-block: 1.5rem;
		
		.title-bar {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	
		.title {
			font-family: "Fraunces", serif;
			font-size: 24px;
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 3px;
			transition: all 1s;
		}
		.title:hover {
			font-weight: 700;
		}
	
		.login {
			font-family: "Roboto Mono", monospace;
			text-transform: uppercase;
			background-color: var(--neutral-50);
			padding: 10px;
			border-radius: 5px;
		}
	}
	
	bottom-part {
		background-color: var(--neutral-100);
		.site-nav {
			display: flex;
			justify-content: space-between;
			
			a {
				font-family: "Fraunces", serif;
				font-variation-settings: "WONK" 1;
				padding-block: 10px;
				text-transform: capitalize;
			}
		}
	}

}

main {
	/* padding-bottom: 4rem; */
}





#meter-validator {

	details {
		padding-bottom: 2rem;
		font-family: "Spectral", serif;
	
		summary {
			padding-left: 0;
			padding-right: 1rem;
			font-family: "Roboto Mono", monospace;
			background-color: var(--bg-color);
			color: var(--ink);
			list-style: none;
			cursor: pointer;
			position: relative;
			/* text-decoration: underline; */
			width: fit-content;
			padding-block: 1rem;
			padding-left: 1.2rem;
	
			&:hover{
				background-color: var(--neutral-50);
			}
	
		}
		summary:before {
			content: '';
			border-width: .4rem;

			border-style: solid;
			border-color: transparent transparent transparent #000;
			position: absolute;
			top: 1.1rem;
			left: .2rem;
			transform: rotate(0);
			transform-origin: .2rem 50%;
			transition: .25s transform ease
		}

		& > *:not(summary){
			padding-left: 1rem;
			background-color: var(--neutral-50);
			color: var(--neutral-900);
		}
		
	
		p:first-of-type {
			padding-top: 1rem;
		}
	
		p + p {
			padding-top: .5rem;
		}
		
	}
	
	details[open] {
		summary {
			background-color: var(--neutral-50);
		}
		> summary:before {
			transform: rotate(90deg);
		}

	}



}

#create-form {
	background-color: var(--neutral-50);
}

#create-form, .composing-section {
	padding-block: 2rem;
	font-family: var(--mono);

	/* Don't need this anymore because it's long enough not to joggle */
	/* max-width: var(--form-width); */
	/* This is so the form doesn't joggle when the scroll bar shows up */
	/* margin-left: calc((100vw - var(--form-width)) / 2); */
	/* TODO need a breakpoint here to account for phone width sub 550px */

	h1 {
		padding-bottom: 2rem;
	}
	field-group + field-group, label + label, field-group + label, label + field-group {
		padding-top: 1.5rem;
	}

	fieldset, fieldset + fieldset, fieldset + h1, field-group + h1 {
		padding-top: 3rem;
	}

	field-group{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	field-group:has(> input[type='text']){
		flex-direction: column;
		min-width: 100%;
		align-items: revert;
		gap: 12px;
	}

	field-group:has(> input:disabled){
		color: var(--neutral-500)
	}

	input {
		font-family: var(--mono);
		font-size: 1rem;
		border: unset;
		border: 1px solid var(--border-color);
		border-radius: 5px;
		padding-inline: 1rem;
	}

	input:disabled {
		border: 1px solid var(--border-disabled-color);
	}

	input:invalid {
		background-color: var(--red);
	}

	input[type='number']  {
		width: 72px;
		height: 45px;
		text-align: center;
		font-family: "Roboto Mono", monospace;
	}

	input[type='text']  {
		min-width: 100%;
		height: 45px;
		font-family: "Roboto Mono", monospace;
	}

	label.checkbox-slider {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		input {
			all: unset;
		}

		.toggle {
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr;

			width: 120px;
			
			border: 1px solid var(--border-color);
			border-radius: 5px;

			background-color: var(--neutral-0);
			z-index: 1;

			/* box-sizing: content-box; */

			span {
				display: flex;
				justify-content: center;
				padding: 10px 12px;
			}

			#no {
				color: var(--ink);
				transition: all .1s;
				
			}
			#yes {
				color: var(--neutral-500);
				transition: all .1s;
			}

			.slider {
				position: absolute;
				left: -1px;
				top: -1px;
				width: calc(50% + 1px);
				height: calc(100% + 2px);
				border: 1px solid var(--border-color);
				border-radius: 5px;
				transition: all .3s;
				background-color: var(--light-red);
				z-index: -1;
			}

		}

		input:focus-visible + .toggle{
			border: 2px solid blue;
		}
	}

	label.checkbox-slider:has(> input:disabled) {
		.toggle {
			border: 1px solid var(--border-disabled-color);

			#no {
				color: var(--neutral-500)
			}

			.slider{
				background-color: var(--neutral-50);
				border: 1px solid var(--border-disabled-color);
			}
		}
	}

	label.checkbox-slider:has(> input:checked) {

		.toggle {
			#no {
				color: var(--neutral-500);
			}
			#yes {
				color: var(--ink);
			}
		}
		.slider {
			left: 50%;
			background-color: #EDF7E9;
		}
	}

	button {
		all: unset;

		/* box-shadow: 4px 4px var(--neutral-300); */
		background-color: #EDF7EA;

		margin-top: 2rem;
		min-width: 100%;
		padding-block: 2rem;
		text-align: center;
		border: 1px solid var(--border-color);
		border-radius: 5px;

		&:hover {
			background-color: #CDF2C5;
		}

		&.disabled {
			border: 1px solid var(--border-disabled-color);
			background-color: var(--neutral-200);
		}


	}


	p + #compose {
		margin-top: 1rem;
	}

	#compose {
		border: 1px solid var(--neutral-500);
		border-radius: 5px;
		padding: .3rem;
	
		.input-group {
			display: flex;
			position: relative;
			input {
				border: none;
				border-radius: 0;
				padding-left: 1.5rem;
				min-width: 95%; 
			}
			input:focus {
				/* outline: none; */
				/* border-left: 2px solid blue; */
			}
		}

		label {
			display: flex;
			align-items: center;
		}
		.meter-label {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			top: 1.2rem;
			left: .4rem;

			&.meter-good {
			
				background-color: var(--green);
				/* position: absolute; */
				
			}
			&.meter-bad {
			
				background-color: var(--red);
				/* position: absolute; */
			
			}
		}
		
		
		.rhyme-label {
			font-size: 10px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			top: 1.2rem;
			left: .4rem;
			&.rhyme-good {
			
				background-color: var(--green);
				/* position: absolute; */
				
			}
			&.rhyme-bad {
			
				background-color: var(--red);
				/* position: absolute; */
				
			}

		}
		
	
	}
	
	
}




/* TYPOGRAPHY */

.loud-voice {
	/* font-family: "Fraunces", serif; */
	font-family: "Roboto Mono", monospace;
	/* font-weight: 700; */
	font-size: 2rem;
}

.attention-voice {
	font-family: "Fraunces", serif;
	font-size: 3rem;
	line-height: 1.2;
	font-weight: 300;
}

.cross-out {
	text-decoration: line-through;
}

.link-container {
	margin-top: 2rem;
	display: flex;
	/* justify-content: center; */
}

.loud-link {
	font-family: "Roboto Mono", monospace;
	color: inherit;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 300;
	background-color: var(--neutral-100);
	width: fit-content;
	padding: 1rem 2rem;
	border-radius: 5px;
	display: flex;
	transition: all 2s;

	&:hover {
		font-weight: 900;
		/* font-size: 3rem; */
		/* letter-spacing: 10px; */
	}
}


p {
	line-height: 1.4;
}

p + p {
	padding-top: .5rem;
}

.loud-voice + .body-copy {
	padding-top: 3rem;
}

.mono, code {
	font-family: "Roboto Mono", monospace;
}

.block-quote{
	padding-left: 1rem;
	padding-block: 2rem;
}

.body-copy {
	font-family: "Spectral", serif;
	line-height: 1.4;
	/* letter-spacing: .5px; */
}

section + section {
	padding-top: 3rem;
}


@media (min-width: 800px) {

	:root{
		--inner-column-padding: 2rem;
	}

	main inner-column {
		padding-inline: 0;
	}

	main grid-container{

		display: grid;
		grid-template-columns: 1fr minmax(500px, 1fr);
		/* gap: 2rem; */

		max-width: var(--inner-column);
		margin-inline: auto;
	}
	

	form {
		padding-inline: 2rem;
		order: 2;
	}

	.composing-section {
		padding-inline: 2rem;
	}
}


