@import 'reset.css';
@import 'variables.css';
@import 'setup.css';
@import 'compose.css';
@import 'typography.css';


body {
	background-color: var(--bg-color);
}


inner-column {
	padding-inline: var(--inner-column-padding);
	max-width: 600px;
	margin-inline: auto;
}

header {
	background-color: var(--neutral-100);
	top-part {

		padding-block: 1.5rem;
		
		
		.title-bar {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	
		.title {
			font-family: "Fraunces", serif;
			font-size: 24px;
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 3px;
			transition: all 1s;
		}
		.title:hover {
			font-weight: 700;
		}
	
		.login {
			font-family: "Roboto Mono", monospace;
			text-transform: uppercase;
			background-color: var(--neutral-50);
			padding: 10px;
			border-radius: 5px;
		}
	}
	
	bottom-part {
		background-color: var(--neutral-100);
		.site-nav {
			display: flex;
			justify-content: space-between;
			
			a {
				font-family: "Fraunces", serif;
				font-variation-settings: "WONK" 1;
				padding-block: 10px;
				text-transform: capitalize;
			}
		}
	}

}

main {
	
	font-family: var(--mono);
	> section {
		padding-block: 2rem;
	}

	.explanation {
		display: none;

		body:has(#show-explanations:checked) & {
			display: block;
		}
	}

}



input {
	box-sizing: border-box;
	font-family: var(--mono);
	font-size: 1rem;
	border: unset;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding-inline: var(--input-padding-inline);

	&:disabled {
		border: 1px solid var(--border-disabled-color);
	}

	&:invalid {
		background-color: var(--light-red);
	}

	&[type='number']  {
		width: 72px;
		height: 45px;
		text-align: center;
		font-family: "Roboto Mono", monospace;
	}

	&[type='text']  {
		min-width: 100%;
		height: 45px;
		font-family: "Roboto Mono", monospace;
	}
}



.form-panel {
	background-color: var(--neutral-50);

	.choose-a-form {
		padding-top: 2rem;

		select {
			border-radius: var(--border-radius);
			padding: 10px 12px;
			font-family: "Roboto Mono", monospace;
		}
	}

	.explanation {
		padding-top: .5rem;
	}

	/*
	// START SECTION
	// Below is styling to have a click-to-reveal Create Your Own section
	#create-your-own {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		cursor: pointer;

		.triangle {
			height: 15px;
			aspect-ratio: 1 / 2;
			clip-path: polygon(0 0, 100% 50%, 0 100%);
			background-color: var(--ink);
			transition: all .3s;
		}

		&:has(input:checked) .triangle {
			transform-origin: 50% 50%;
			transform: rotate(90deg);
		}

		input {
			all: unset;
		}
	}

	.option-slider {
		visibility: hidden;
	}

	&:has(#create-your-own input:checked) .option-slider{
		visibility: visible;
	} 


	#form-inputs {
		display: none;
	}

	&:has(#create-your-own input:checked) #form-inputs {
		display: block;
	}

	// END SECTION
	*/

	field-group{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
		/* gap: 12px */
	}

	/* VERTICAL Lablel/Input GROUP */
	label:has(> input[type='text']), .choose-a-form{
		flex-direction: column;
		min-width: 100%;
		align-items: revert;
		gap: 12px;
	}

	field-group:has(> input:disabled){
		color: var(--neutral-500)
	}

	

	label {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 12px;
		align-items: center;
		.error {
			flex-basis: 50%;
		}
	}

	/* TODO is this still being used?? */
	.error {
		font-family: sans-serif;
		font-size: .8rem;
		padding-left: .5rem;
		color: var(--red);
	}

	label.checkbox-slider {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		input {
			all: unset;
		}

		.toggle {
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr;

			width: 120px;
			
			border: 1px solid var(--border-color);
			border-radius: 5px;

			background-color: var(--neutral-0);
			z-index: 1;


			span {
				display: flex;
				justify-content: center;
				padding: 10px 12px;
			}

			#no {
				color: var(--ink);
				transition: all .1s;
				
			}
			#yes {
				color: var(--neutral-500);
				transition: all .1s;
			}

			.slider {
				position: absolute;
				left: -1px;
				top: -1px;
				width: calc(50% + 1px);
				/* weirdly this sometimes seems to require the +2 additional pixels, and sometimes it doesn't… what gives??? I don't know what's controlling that */
				height: calc(100% + 2px);
				border: 1px solid var(--border-color);
				border-radius: 5px;
				transition: all .3s;
				background-color: var(--light-red);
				z-index: -1;
			}

		}

		input:focus-visible + .toggle{
			border: 2px solid blue;
		}
	}

	label.checkbox-slider:has(> input:disabled) {
		.toggle {
			border: 1px solid var(--border-disabled-color);

			#no {
				color: var(--neutral-500)
			}

			.slider{
				background-color: var(--neutral-50);
				border: 1px solid var(--border-disabled-color);
			}
		}
	}

	label.checkbox-slider:has(> input:checked) {

		.toggle {
			#no {
				color: var(--neutral-500);
			}
			#yes {
				color: var(--ink);
			}
		}
		.slider {
			left: 50%;
			background-color: #EDF7E9;
		}
	}

	button {
		all: unset;

		/* box-shadow: 4px 4px var(--neutral-300); */
		background-color: #EDF7EA;

		margin-top: 2rem;
		min-width: 100%;
		padding-block: 2rem;
		text-align: center;
		border: 1px solid var(--border-color);
		border-radius: 5px;

		&:hover {
			background-color: #CDF2C5;
		}

		&.disabled {
			border: 1px solid var(--border-disabled-color);
			background-color: var(--neutral-200);
		}


	}


	

	h1 {
		padding-bottom: 2rem;
	}

	field-group + field-group, label + label, field-group + label, label + field-group {
		padding-top: 1.5rem;
	}

	field-group + fieldset, fieldset + fieldset, fieldset + h1, field-group + h1 {
		padding-top: 3rem;
	}
}

.option-slider {
	--slider-width: 1.5rem;
	--slider-bg: var(--neutral-0);
	--slider: var(--neutral-100);

	display: flex;
	align-items: center;
	gap: 8px;

	.switch-container {
		display: inline-block;
		height: calc(var(--slider-width) + 8px);
		width: calc(var(--slider-width) * 2 + 8px);
		position: relative;
	 }
	 
	 .switch-container input {
		display:none;
	 }
	 
	 .slider {
		
		background-color: var(--slider-bg);
		bottom: 0;
		cursor: pointer;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	 }
	 
	 .slider:before {
		background-color: var(--slider);
		bottom: 4px;
		content: "";
		height: var(--slider-width);
		aspect-ratio: 1/1;
		left: 4px;
		position: absolute;
		transition: .4s;
	 }
	 
	 input:checked + .slider {
		/* background-color: green; */
	 }
	 
	 input:checked + .slider:before {
		transform: translateX(100%);
	 }
	 
	 .slider.round {
		border-radius: 34px;
	 }
	 
	 .slider.round:before {
		border-radius: 50%;
	 }
}



@media (min-width: 1200px) {

	:root{
		--inner-column-padding: 2rem;
	}

	body {
		min-height: 100vh;
		max-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	inner-column {
		max-width: inherit;
		margin-inline: auto;

		main & {
			padding-inline: 0;
			max-width: 1000px;
		}
	}


	main{

		flex-grow: 2;
		max-height: 100%;
		overflow: hidden;

		display: grid;
		grid-template-columns: 1fr minmax(500px, 1fr);

		/* max-width: var(--inner-column); */
		/* margin-inline: auto; */
	}

	section {
		padding-inline: 2rem;
	}
	

	.form-panel {
		order: 2;
		max-height: 100%;
		overflow-y: scroll;
	}
}


