@import 'reset.css';
@import 'setup.css';

:root {
	--neutral-0: 		#FFFFFF;
	--neutral-20:		#FAFAFA;
	--neutral-30:		#F7F7F7;
	--neutral-50:		#F2F2F2;
	--neutral-100:		#E5E5E5;
	--neutral-200: 	#CCCCCC;
	--neutral-300: 	#B2B2B2;
	--neutral-400: 	#999999;
	--neutral-500:		#808080;
	--neutral-600:		#666666;
	--neutral-700:		#4D4D4D;
	--neutral-800:		#333333;
	--neutral-900:		#1A1A1A;
	--neutral-1000:	#000000;

	--ink: var(--neutral-1000);

	--red: #F7E9E9;

	--border-color: var(--neutral-500);
	--border-disabled-color: var(--neutral-200);

	--bg-color: var(--neutral-0);
	--inner-column: 800px;
	--form-width: 450px;

	--mono: "Roboto Mono", monospace;
}

body {
	background-color: var(--bg-color);
}

inner-column {
	max-width: var(--inner-column);
	margin-inline: auto;
	padding: 12px;
}

main {
	/* padding-block: 1rem; */
}

top-part {

	margin-block: 1.5rem;
	
	.title-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.title {
		font-family: "Fraunces", serif;
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 3px;
	}

	.login {
		font-family: "Roboto Mono", monospace;
		text-transform: uppercase;
		background-color: var(--neutral-50);
		padding: 10px;
		border-radius: 5px;
	}
}

bottom-part {
	background-color: var(--neutral-50);
	.site-nav {
		display: flex;
		justify-content: space-between;
		
		a {
			font-family: "Fraunces", serif;
			font-variation-settings: "WONK" 1;
			padding-block: 10px;
			text-transform: capitalize;
		}
	}
}

form {
	padding-block: 2rem;
	font-family: var(--mono);

	/* Don't need this anymore because it's long enough not to joggle */
	max-width: var(--form-width);
	/* This is so the form doesn't joggle when the scroll bar shows up */
	margin-left: calc((100vw - var(--form-width)) / 2);
	/* TODO need a breakpoint here to account for phone width sub 550px */

	h1 {
		padding-bottom: 3rem;
	}
	field-group + field-group, p + p, label + label, field-group + label, label + field-group {
		padding-top: 1.5rem;
	}

	fieldset + fieldset {
		padding-top: 3rem;
	}

	field-group{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	field-group:has(> input[type='text']){
		flex-direction: column;
		min-width: 100%;
		align-items: revert;
		gap: 12px;
	}

	field-group:has(> input:disabled){
		color: var(--neutral-500)
	}

	input {
		font-family: var(--mono);
		font-size: 1rem;
		border: unset;
		border: 1px solid var(--border-color);
		border-radius: 5px;
	}

	input:disabled {
		border: 1px solid var(--border-disabled-color);
	}

	input:invalid {
		background-color: var(--red);
	}

	input[type='number']  {
		width: 72px;
		height: 45px;
		text-align: center;
		font-family: "Roboto Mono", monospace;
	}

	input[type='text']  {
		min-width: 100%;
		height: 45px;
		font-family: "Roboto Mono", monospace;
	}

	label.checkbox-slider {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		input {
			all: unset;
		}

		.toggle {
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr;

			width: 120px;
			
			border: 1px solid var(--border-color);
			border-radius: 5px;

			/* box-sizing: content-box; */

			span {
				display: flex;
				justify-content: center;
				padding: 10px 12px;
			}

			#no {
				color: var(--ink);
				transition: all .1s;
				
			}
			#yes {
				color: var(--neutral-500);
				transition: all .1s;
			}

			.slider {
				position: absolute;
				left: -1px;
				top: -1px;
				width: calc(50% + 1px);
				height: calc(100% + 2px);
				border: 1px solid var(--border-color);
				border-radius: 5px;
				transition: all .3s;
				background-color: var(--red);
				z-index: -1;
			}

		}

		input:focus-visible + .toggle{
			border: 2px solid blue;
		}
	}

	label.checkbox-slider:has(> input:disabled) {
		.toggle {
			border: 1px solid var(--border-disabled-color);

			#no {
				color: var(--neutral-500)
			}

			.slider{
				background-color: var(--neutral-50);
				border: 1px solid var(--border-disabled-color);
			}
		}
	}

	label.checkbox-slider:has(> input:checked) {

		.toggle {
			#no {
				color: var(--neutral-500);
			}
			#yes {
				color: var(--ink);
			}
		}
		.slider {
			left: 50%;
			background-color: #EDF7E9;
		}
	}

	button {
		all: unset;

		/* box-shadow: 4px 4px var(--neutral-300); */
		background-color: #EDF7EA;

		margin-top: 2rem;
		min-width: 100%;
		padding-block: 2rem;
		text-align: center;
		border: 1px solid var(--border-color);
		border-radius: 5px;

		&:hover {
			background-color: #CDF2C5;
		}

		&.disabled {
			border: 1px solid var(--border-disabled-color);
			background-color: var(--neutral-200);
		}


	}



}


/* TYPOGRAPHY */

.loud-voice {
	font-family: "Fraunces", serif;
	font-size: 24px;
}
