:root {
	--neutral-0: 		#FFFFFF;
	--neutral-20:		#FAFAFA;
	--neutral-30:		#F7F7F7;
	--neutral-50:		#F2F2F2;
	--neutral-100:		#E5E5E5;
	--neutral-200: 	#CCCCCC;
	--neutral-300: 	#B2B2B2;
	--neutral-400: 	#999999;
	--neutral-500:		#808080;
	--neutral-600:		#666666;
	--neutral-700:		#4D4D4D;
	--neutral-800:		#333333;
	--neutral-900:		#1A1A1A;
	--neutral-1000:	#000000;

	--ink: var(--neutral-1000);

	--unknown: var(--neutral-200);
	--good: var(--neutral-0);
	--bad-rhyme: oklch(87.5% 0.09 100);
	--bad-meter: oklch(87.5% 0.09 220);
	--bad-syllable: oklch(87.5% 0.09 340);

	--light-red: #F7E9E9;
	--red: #E07070;
	--light-green: #EDF7E9;
	--green: #CDF2C5;

	--border-color: var(--neutral-500);
	--border-disabled-color: var(--neutral-200);

	--border-radius: 5px;
	--input-padding-inline: 1rem;
	--compose-field-padding: .3rem;

	--bg-color: var(--neutral-0);
	--inner-column: 1600px;
	--inner-column-padding: 12px;
	--form-width: 450px;

	--mono: "Roboto Mono", monospace;
}
